<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlojaMascotas</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-home.css">
    <link rel="stylesheet" href="css/style-carritob.css">

    <!-- Links Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- Links Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header: Navs TopHeader y Subheader -->
    <header>
        <section class="topheader">
            <div class="logo-menu"><i class="fas fa-bars" alt="logo menu"></i></div>
            <div class="vacio"></div>
            <div class="logo"><a href="/"><img class="logo-alojamascotas" src="./img/group.svg"
                        alt="logo de la empresa"></a></div>
            <div class="icon-search"><i class="fas fa-search" alt="logo busqueda"></i></div>
            <div class="icon-cart"><a href="/carrito"><i class="fas fa-shopping-cart" alt="logo carrito"></i></a></div>       
        </section>
        <section class="subheader">
            <a class="crear-cuenta" href="/registro">CREAR CUENTA</a>
            <div class="line"></div>
            <a class="iniciar-sesion" href="/inicia-sesion">INICIAR SESION</a>
        </section>

        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li><a href="#" target="_blank">Mi Cuenta</a></li>
            <li><a href="#" target="_blank">Nosotros</a></li>
            <li><a href="#" target="_blank">Contacto</a></li>
            <li><a href="#" target="_blank">FAQ</a></li>
            <li><a href="#" target="_blank">Terminos y Condiciones</a></li>
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
          </ul>
        </div>

    </header>


    <!-- Main: Secciones Resumen Cart - Codigo Descuento y Total -->
    <main>
        <section class="resumen-cart-productos">
            <article class="producto1">
                <div class="info-producto">
                    <div class="slider-producto"><img src="./img/guarderia_2.jpg" alt="Guarderia"></div>
                    <div class="detalle-producto">
                        <h4 class="titulo-producto">Guardería Catis</h4>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Numquam vitae optio consequuntur nisi qui adipisci iure quis,
                            sequi quam voluptas dolorum quos, animi officiis sed.</p>
                    </div>
                </div>
                <div class="resumen-producto">
                    <div class="categoria-producto">
                        <form action="categoria" method="GET">
                            <label class="titulo-categoria">Categoría:</label>
                            <select class="opciones-categoria" name="categoria">
                                <option value="cat1" selected>Categoria 1</option>
                                <option value="cat2">Categoria 2</option>
                                <option value="cat3">Categoria 3</option>
                            </select>
                        </form>
                    </div>
                    <div class="fechas-producto">
                        <label>Desde:</label><input type="date" name="fechaIngreso" value="2022-04-22" min="2022-04-01"
                            max="2023-12-31">
                        <label>Hasta:</label><input type="date" name="fechaSalida" value="2022-04-27" min="2022-04-01"
                            max="2023-12-31">
                    </div>
                    <div class="cantidad">
                        <div class="mascota">
                            <i class="fas fa-dog"></i>
                            <i class="fas fa-plus"></i>
                            <div>0</div>
                            <i class="fas fa-minus"></i>
                        </div>
                        <div class="mascota">
                            <i class="fas fa-cat"></i>
                            <i class="fas fa-plus"></i>
                            <div>1</div>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                    <h4 class="precio">Total: $100,99</h4>
                    <div class="remover">
                        <h6><i class="far fa-times-circle"></i>Remover</h6>
                    </div>
                </div>
            </article>

            <article class="producto2">
                <div class="info-producto">
                    <div class="slider-producto"><img src="./img/guarderia_canina_1.jpg" alt="Guarderia"></div>
                    <div class="detalle-producto">
                        <h4 class="titulo-producto">Guardería Wag Wag</h4>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Numquam vitae optio consequuntur nisi qui adipisci iure quis,
                            sequi quam voluptas dolorum quos, animi officiis sed.</p>
                    </div>
                </div>
                <div class="resumen-producto">
                    <div class="categoria-producto">
                        <form action="categoria" method="GET">
                            <label class="titulo-categoria">Categoría:</label>
                            <select class="opciones-categoria" name="categoria">
                                <option value="cat1">Categoria 1</option>
                                <option value="cat2" selected>Categoria 2</option>
                                <option value="cat3">Categoria 3</option>
                            </select>
                        </form>
                    </div>
                    <div class="fechas-producto">
                        <label>Desde:</label><input type="date" name="fechaIngreso" value="2022-08-18" min="2022-04-01"
                            max="2023-12-31">
                        <label>Hasta:</label><input type="date" name="fechaSalida" value="2022-08-26" min="2022-04-01"
                            max="2023-12-31">
                    </div>
                    <div class="cantidad">
                        <div class="mascota">
                            <i class="fas fa-dog"></i>
                            <i class="fas fa-plus"></i>
                            <div>1</div>
                            <i class="fas fa-minus"></i>
                        </div>
                        <div class="mascota">
                            <i class="fas fa-cat"></i>
                            <i class="fas fa-plus"></i>
                            <div>0</div>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                    <h4 class="precio">Total: $123,56</h4>
                    <div class="remover">
                        <h6><i class="far fa-times-circle"></i>Remover</h6>
                    </div>
                </div>
            </article>

        </section>

        <section class="codigo-descuento">
            <h4 class="titulo-descuento">Tengo un código <br> de descuento</h4>
            <div class="input-descuento">
                <input type="text" name="codigoDescuento">
                <button type="submit">Agregar código</button>
            </div>
            </div>

        </section>

        <section class="comentario">
            <label class="titulo-comentario" for="comentario">Comentarios<br>adicionales:</label>
            <textarea name="comentario" id="comentario" placeholder="Deje su comentario"></textarea>
        </section>

        <section class="resumen-cart-total">
            <div class="subtotal">
                <h5 class="subtotal-title">Subtotal:</h5>
                <h5 class="subtotal-value">$555,99</h5>
            </div>
            <div class="impuestos-tasas">
                <h5 class="impuestos-tasas-title">Impuestos y Tasas</h5>
                <h5 class="impuestos-tasas-value">$0,00</h5>
            </div>
            <div class="descuento">
                <h5 class="descuento-title">Descuento:</h5>
                <h5 class="descuento-value">$100,00</h5>
            </div>
            <div class="total">
                <h4 class="total-title">Total:</h4>
                <h4 class="total-value">$455,99</h4>
            </div>
            <span><a href="#"></a></span>
            <div class="finalizar-compra">
                <button type="submit">FINALIZAR COMPRA</button>
            </div>
        </section>





    </main>
    <!-- Footer -->
    <footer>
        <div class="footer-nav">
            <div class="footer-nav1">
                <a href="/inicia-sesion">Iniciar Sesion</a><br>
                <a href="/registro">Registrarse</a><br>
                <a href="#">Nosotros</a><br>
            </div>
            <div class="footer-nav2">
                <a href="#">Contacto</a><br>
                <a href="#">FAQ</a><br>
                <a href="#">Terminos y condiciones</a><br>
            </div>
        </div>
        <div class="redes">
            <h4>SEGUINOS EN NUESTRAS REDES</h4>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </div>
        <h6 class="copyright">Copyright © 2022 AlojaMascotas S.R.L.</h6>

    </footer>

</body>

</html>