<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlojaMascotas</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-home.css">
    <link rel="stylesheet" href="css/style-carrito.css">

    <!-- Links Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- Links Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
<!-- Header: Navs TopHeader y Subheader -->
    <header>
        <section class="topheader">
            <div class="logo-menu"><i class="fas fa-bars" alt="logo menu"></i></div>
            <img class="logo-alojamascotas" src="./img/logo-alojamascotas.svg" alt="logo de la empresa">
            <div class="icon-search"><i class="fas fa-search" alt="logo busqueda"></i></div>
            <a href="/carrito">
                <div class="icon-cart"><i class="fas fa-shopping-cart" alt="logo carrito"></i></div>
        </section>
        <section class="subheader">
            <a class="crear-cuenta" href="/registro">CREAR CUENTA</a>
            <a class="iniciar-sesion" href="/inicia-sesion">INICIAR SESION</a>
        </section>

    </header>
<!-- Main: Secciones Resumen Cart - Codigo Descuento y Total -->
    <main>
        <section class="resumen-cart-productos">
            <article class="producto1">
                <div><img src="./img/guarderia_2.jpg" alt="Guarderia"></div>
                <div class="detalle-producto">
                    <div class="titulo-producto">
                        <h4>Guarderia 1</h4>
                    </div>
                    <div class="categoria-producto">
                        <h5>Categoria A</h5>
                    </div>
                    <div class="fechas-producto">
                        <p>18/10/2022 al 25/10/2022</p>
                    </div>
                </div>
                <div class="cantidad">
                    <i class="fas fa-minus"></i>
                    <div>1</div>
                    <i class="fas fa-plus"></i>
                </div>
                <h4 class="precio">$100,99</h4>
                <h6 class="remover">Remover</h6>
            </article>
            <article class="producto2">
                <div><img src="./img/guarderia_canina_1.jpg" alt="Guarderia"></div>
                <div class="detalle-producto">
                    <div class="titulo-producto">
                        <h4>Guarderia 2</h4>
                    </div>
                    <div class="categoria-producto">
                        <h5>Categoria B</h5>
                    </div>
                    <div class="fechas-producto">
                        <p>26/11/2022 al 25/11/2022</p>
                    </div>
                </div>
                <div class="cantidad">
                    <i class="fas fa-minus"></i>
                    <div>2</div>
                    <i class="fas fa-plus"></i>
                </div>
                <h4 class="precio">$280,00</h4>
                <h6 class="remover">Remover</h6>
            </article>
            <article class="producto3">
                <div><img src="./img/guarderia1_slidec.jpg" alt="Guarderia"></div>
                <div class="detalle-producto">
                    <div class="titulo-producto">
                        <h4>Guarderia 3</h4>
                    </div>
                    <div class="categoria-producto">
                        <h5>Categoria C</h5>
                    </div>
                    <div class="fechas-producto">
                        <p>04/12/2022 al 16/12/2022</p>
                    </div>
                </div>
                <div class="cantidad">
                    <i class="fas fa-minus"></i>
                    <div>2</div>
                    <i class="fas fa-plus"></i>
                </div>
                <h4 class="precio">$75,00</h4>
                <h6 class="remover">Remover</h6>
            </article>
        </section>

        <section class="codigo-descuento">
            <h4>Tengo un código de descuento</h4>
            <input type="text" name="codigoDescuento">
            <button type="submit">Agregar código</button>
        </section>

        <section class="resumen-cart-total">
            <div class="subtotal">
            <h4 class="subtotal-title">Subtotal:</h4>
            <h4 class="subtotal-value">$455,99</h4>
            </div>
            <div class="impuestos-tasas">
            <h4 class="impuestos-tasas-title">Impuestos y Tasas</h4>
            <h4 class="impuestos-tasas-value">$0,00</h4>
            </div>
            <div class="descuento">
            <h4 class="descuento-title">Descuento:</h4>
            <h4 class="descuento-value">$100,00</h4>
            </div>
            <div class="total">
            <h3 class="total-title">Total:</h3>
            <h3 class="total-value">$355,99</h3>
            </div>
        </section>

        <div>
            <button type="submit">Finalizar Compra</button>
        </div>

    </main>

    <footer>
        <div class="footer-nav">
            <div class="footer-nav1">
                <a href="/inicia-sesion">Iniciar Sesion</a><br>
                <a href="/registro">Registrarse</a><br>
                <a href="#">Nosotros</a><br>
            </div>
            <div class="footer-nav2">
                <a href="#">Contacto</a><br>
                <a href="#">FAQ</a><br>
                <a href="#">Terminos y condiciones</a><br>
            </div>
        </div>
        <div class="redes">
            <h4>SEGUINOS EN NUESTRAS REDES</h4>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </div>
        <h6 class="copyright">Copyright © 2022 AlojaMascotas S.R.L.</h6>

    </footer>

</body>

</html>