<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlojaMascotas</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>

<body>

    <header>
        <section>
            <nav>
                <img src="./img/menu-slider.svg" alt="logo menu">
            </nav>
            <img src="./img/logo.svg" alt="logo de la empresa">
            <img src="./img/search-box.svg" alt="logo busqueda">
            <a href="/carrito"><img src="./img/cart.svg" alt="logo carrito"></a>
        </section>
        <section>
            <a href="/registro">CREAR CUENTA</a>
            <a href="/inicia-sesion">INICIAR SESION</a>

        </section>

    </header>

    <main>
        <section>
            <img src="./img/imagen-main1.jpg" alt="imagen main 1">
        </section>
        <section>
            <h3>NUESTRAS GUARDERIAS</h3>
            <img class="imagen-guarderia1" src="./img/Guarderia5.svg" alt="imagen guarderia 1">
            <h4>Guarderia 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, neque!</p>
            <a href="/detalle-producto">RESERVAR</a>
        </section>
        <section>
            <h3>---------------SOBRE NOSOTROS---------------</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, nostrum?</p>
        </section>

    </main>

    <footer>
        <nav>
            <a href="/inicia-sesion">Iniciar Sesion</a>
            <a href="/registro">Registrarse</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">FAQ</a>
            <a href="#">Terminos y condiciones</a>
        </nav>
        <div>
            <h4>SEGUINOS EN NUESTRAS REDES</h4>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </div>
        <h6>Copyright © 2022 AlojaMascotas S.R.L.</h6>

    </footer>

</body>

</html>