<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlojaMascotas</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="css/style-home.css">
    <link rel="stylesheet" href="css/style-registro.css">
    <link rel="stylesheet" href="css/normalize.css">

    <!-- Links Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- Links Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <section class="topheader">
            <div class="logo-menu"><i class="fas fa-bars" alt="logo menu"></i></div>
            <div class="vacio"></div>
            <div class="logo"><a href="/"><img class="logo-alojamascotas" src="./img/group.svg"
                        alt="logo de la empresa"></a></div>
            <div class="icon-search"><i class="fas fa-search" alt="logo busqueda"></i></div>
            <div class="icon-cart"><a href="/carrito"><i class="fas fa-shopping-cart" alt="logo carrito"></i></a></div>
        </section>
        <section class="subheader">
            <a class="crear-cuenta" href="/registro">CREAR CUENTA</a>
            <div class="line"></div>
            <a class="iniciar-sesion" href="/inicia-sesion">INICIAR SESION</a>
        </section>

          <!-- Sidebar Nav -->

        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li><a href="#" target="_blank">Mi Cuenta</a></li>
            <li><a href="#" target="_blank">Guarderias</a></li>
            <li><a href="#" target="_blank">Nosotros</a></li>
            <li><a href="#" target="_blank">Contacto</a></li>
            <li><a href="#" target="_blank">FAQ</a></li>
            <li><a href="#" target="_blank">Terminos y Condiciones</a></li>
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
          </ul>
        </div>

    </header>


    <main>

        <div class="boton-volver-home">
            <a href="/"><i class="far fa-arrow-alt-circle-left"></i> VOLVER</a>
        </div>
        <h3 class="titulo-registro">CREA TU CUENTA</h3>

        <div class="contenedor-registro">


        <form action="/register" method="POST">


            <div>
                <label>Nombre de usuario:</label>
                <input type="text" name="nombre de usuario" required>
            </div>

            <div>
                <label>Fecha de nacimiento:</label>
                <input type="date" name="fecha de nacimiento" required>
            </div>

            <div>
                <label>Domicilio:</label>
                <input type="text" name="Domicilio" placeholder=" Calle y numero" required>
            </div>

            <div>
                <label>E-mail:</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>DNI:</label>
                <input type="number" name="dni" pattern="[0-9]{8}">
            </div>

            <div>
                <label>Contraseña:</label>
                <input name="password" type="password" value="" class="form-control" id="elige contraseña"
                    placeholder=" Elige tu contraseña">
            </div>

            <div class="div-confirmar-clave">
                <input name="password" type="password" value="" class="form-control" id="confirmar contraseña"
                    placeholder=" Confirma tu contraseña">
            </div>

            <div class="div-button">
                <button type="submit">Enviar</button>

            </div>

            <div class="div-button">
                <button type="reset">Cancelar</button>
            </div>


        </div>

    </main>

    <footer>
        <div class="footer-nav">
            <div class="footer-nav1">
                <a href="/inicia-sesion">Iniciar Sesion</a><br>
                <a href="/registro">Registrarse</a><br>
                <a href="#">Nosotros</a><br>
            </div>
            <div class="footer-nav2">
                <a href="#">Contacto</a><br>
                <a href="#">FAQ</a><br>
                <a href="#">Terminos y condiciones</a><br>
            </div>
        </div>
        <div class="redes">
            <h4>SEGUINOS EN NUESTRAS REDES</h4>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </div>
        <h6 class="copyright">Copyright © 2022 AlojaMascotas S.R.L.</h6>

    </footer>

</body>

</html>