* {
      font-family: "Raleway", sans-serif;
    }

    :root {
      --verde-oscuro: #3f4e4a;
      --verde-claro: #3f7552;
      --celeste-oscuro: #9fb7bc;
      --celeste-claro: #c7dae0;
      --gris: rgba(128, 128, 128, 0.151);
      --gris-oscuro: rgba(128, 128, 128, 0.247);
    }

    .logo img{
      object-fit: contain
    }

    header {
      background-color: #c7dae0;
      position: fixed;
      top: 0;
      z-index: 9999;
      height: 8em;
      
    }
    
    /* Topheader */
    
    .topheader {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
      width: 100vw;
      height: 75%;
      text-align: center;
    
    }
    
    .logo-menu {
      display: block;
      opacity: 80%;
      width: 20%;
      text-align: center;
      padding-left: 5%;
    
    }
    
    .logo-menu i {
      color: var(--celeste-claro);
      font-size: 32px;
    }
    
    .vacio {
      display: block;
      width: 20%;
    }
    
    /* Contenedor logo */
    .logo {
      display: block;
      width: 20%;
    }
    
    /* Imagen logo */
    .logo-alojamascotas {
      display: block;
      margin: auto;
      min-width: 15vw;
      max-height: 10vh;
    }
    
    .icon-cart,
    .logo-cuenta {
      display: block;
      width: 20%;
      text-align: center;
      padding-left: 20px;
    }
    
    .icon-cart{
      padding-right: 10px;
    }
    
    .icon-cart i,
    .logo-cuenta i {
      font-size: 20px;
      color: var(--verde-oscuro);
      opacity: 80%;
    }
    
    /* SubHeader */
    
    .subheader {
      display: flex;
      justify-content: space-evenly;
      font-size: 12px;
      width: 100vw;
      height: 25%;
      text-align: center;
    
    }
    
    .subheader .crear-cuenta {
      width: 45%;
      text-decoration: none;
      color: var(--verde-oscuro);
      opacity: 80%;
    }
       
    
    /* Search bar */
    .searchbar {
      display: block;
      background-color: var(--celeste-claro);
    
    }
    
    .searchbar form{
      text-align: center;
    
    }
    
    .input-buscar-guarderia{
      font-size: 10px;
      padding: 0 5px;
      border: none;
      border-radius: 5px;
      width: 150px;
      min-width: 5px;
      max-width: 400px;
      height: 18px;
    }
    
    .boton-search{
      font-size: 10px;
      background-color: transparent;
      color: grey;
      border: none;
      border-radius: 10px;
      width: 25px;
      height: 16px;
      position: absolute;
    }
    
    .boton-search i{
      position: relative;
      right: 25px;
      bottom: 0px;
    }
    
    
    /* Sidebar Nav */
    
    #sidebarMenu {
      height: 100%;
      position: fixed;
      left: 0;
      width: 250px;
      transform: translateX(-250px);
      transition: transform 250ms ease-in-out;
      background-color: var(--celeste-claro);
    }
    .sidebarMenuInner{
      margin:0;
      padding:0;
      border-top: 1px solid rgba(255, 255, 255, 0.10);
    }
    .sidebarMenuInner li{
      list-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 15px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    
    .sidebarMenuInner li a{
      font-size: 12px;
      color: var(--verde-oscuro);
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
    }
    
    .openSidebarMenu:checked ~ #sidebarMenu {
      transform: translateX(0);
    }
    
    .openSidebarMenu {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
    }
    .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 999999;
      height: 100%;
      width: 100%;
      top: 40px;
      left: 40px;
      height: 22px;
      width: 22px;
    }
    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: var(--verde-oscuro);
      opacity: 80%;
    }
    .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
    }
    .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
    }
    .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
    }
    .openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
    }
    .openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
    }
    .openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
    }


@media(min-width:768px){

      header {
        background-color: #c7dae0;
        position: fixed;
        top: 0;
        z-index: 9999;
        height: 7em;
        
      }

      .logo {
        display: block;
        width: 20%;
      }
      
      .logo-alojamascotas {
        display: block;
        margin: auto;
        margin-top: 15px;
        
        
      }


      .subheader .crear-cuenta {
        position: relative;
        top: -45px;
        right: -670px;
        width: 45%;
        text-decoration: none;
        color: var(--verde-oscuro);
        opacity: 80%;
      }

      .searchbar {
        position: relative;
        top: -40px;
        left: -750px;
      }

      .input-buscar-guarderia{
        font-size: 12px;
        padding: 0 5px;
        border: none;
        border-radius: 5px;
        width: 300px;
        min-width: 5px;
        max-width: 450px;
        height: 18px;
      }

    }