:root {
  --verde-oscuro: #3f4e4a;
  --verde-claro: #3f7552;
  --celeste-oscuro: #9fb7bc;
  --celeste-claro: #c7dae0;
  --gris: rgba(128, 128, 128, 0.151);
  --gris-oscuro: rgba(128, 128, 128, 0.247);
}


/* Buscador - Producto */
/*
.buscarPorNombre {
  position: fixed;
  width: 90vw;
  top: 134px;
  z-index: 999;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: var(--celeste-oscuro);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 12px;
  padding: 5px;
  text-align: center;
} */



/* Flex's */

/* .articulos {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: auto;
  justify-content: space-evenly;
} */

.boton-volver-home {
  padding: 20px;
}

.boton-volver-home a{
  text-decoration: none;
  color: grey;
}

.titulo-productos{
  font-size: 30px;
  color: rgb(117, 115, 115);
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 16px;
}

.articulos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}


.imagenGuarderia{
  width: 80%;
  text-align:center;
  display:block;
  margin: 10px auto;
}


.nombre-guarderia {
  font-size: 20px;
  color: #3f4e4a;
  font-weight: bold;
  text-align: center;
}

.precios {
  text-align: center;
}

.estrellas {
  color: #3f7552;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

h3{
  font-size: 20px;

}

.cuerpo-detalle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  text-align: center;
  margin: 10px;
  width: 20em;
  padding: 20px;
  text-align: justify;
  background-color: var(--gris);
  border-radius: 10px;
}


.reservar,
.editar-producto,
.crear-producto,
.eliminar-producto {
  display: block;
  text-align: center;
  text-decoration: none;
}


.reservar a {
  font-size: 14px;
  display: inline-block;
  margin: 10px auto 10px auto;
  text-align: center;
  text-decoration: none;
  color: var(--verde-oscuro);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #c7dae0;
}

.reservar a:hover{
  background-color: var(--celeste-oscuro);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 100%;
  height: 210px;
  text-align: center;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  transition: opacity 0.5s;
  background: #fff;
}

ul.slider li img {
  height: 250px;
  object-fit: cover;
  width: 60%;
  display: inline-block;
  margin: auto;
  margin: 5px;
  padding: 5px;
  margin-top: 50px;
}

ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu-articulo1,
.menu-articulo2 {
  text-align: center;
  margin-top: 30px;
}

.menu-articulo1 li,
.menu-articulo2 li {
  display: inline-block;
  text-align: center;
}

.menu-articulo1 a,
.menu-articulo2 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #3f7552;
  padding: 5px;
  font-size: 15px;
  border-radius: 100%;
}

/* Modal Resumen - Buscador */

.resumen-producto{
  width: 96vw;
  position: sticky;
  bottom: 5px;
  z-index: 99;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--celeste-claro);
  margin-bottom: 20px;
}


.categoria-producto,
.categoria-producto label {
  font-size: 12px;
}

.titulo-categoria{
  font-size: 12px;
  color: var(--verde-oscuro)
}

.opciones-categoria {
  font-size: 12px;
  padding: 1px;
  color: var(--verde-oscuro)
}

.fechas-producto {
  display: flex;
  flex-direction: column;
  margin: 0 0;
}

.fechas-producto input {
  font-size: 12px;
  color: var(--verde-oscuro);
}

.fechas-producto label {
  padding: 0 0;
  font-size: 12px;
  color: var(--verde-oscuro)
}

.cantidad .mascota {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.cantidad .fa-dog,
.cantidad .fa-cat {
  font-size: 18px;
  text-align: center;
  color: var(--verde-oscuro);
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 30%;
  border: solid 1px var(--verde-oscuro);
  padding-top: 2px;
  margin-right: 5px;

}

.cantidad .fa-plus,
.cantidad .fa-minus {
  font-size: 14px;
  background-color: var(--celeste-claro);
  border: solid 1px var(--celeste-claro);
  border-radius: 50%;
  color: white;
  margin: 0 2px;
}

.cantidad div{
  font-family: sans-serif;
  font-size: 12px;
}

