*{
    box-sizing: border-box;
}


* {
    font-family: "Raleway", sans-serif;
  }
  
  :root {
    --verde-oscuro: #3f4e4a;
    --verde-claro: #3f7552;
    --celeste-oscuro: #9fb7bc;
    --celeste-claro: #bccfd6;
  }
  
  header {
    background-color: var(--celeste-claro);
  }
  
  .topheader {
    display: inline-block;
    margin: 10px 0px;
    width: 100vw;
  }
  
  .logo-menu {
    display: inline-block;
    width: 25vw;
    opacity: 80%;
    text-align: left;
  
  }
  
  .logo-menu i {
    color: var(--verde-oscuro);
    font-size: 32px;
  }
  
  .logo-alojamascotas {
    display: inline-block;
    width: 50vw;
    max-width: 30%;
    text-align: center;
  }

.icon-search {
  display: inline-block;
  width: 12vw;
  padding: 10px;
}

.icon-search i {
  font-size: 26px;
  color: var(--verde-oscuro);
  opacity: 80%;
}

.icon-cart {
  display: inline-block;
  padding: 10px;
}

.icon-cart i {
  font-size: 26px;
  color: var(--verde-oscuro);
  opacity: 80%;
}

.subheader {
  display: inline-block;
  font-size: 14px;
  padding: 2vw 10vw;
  width: 100vw;
  text-align: center;
}

.subheader a.crear-cuenta {
  padding-right: 5vw;
  text-decoration: none;
  color: var(--verde-oscuro);
  opacity: 80%;
}
.subheader a.iniciar-sesion {
  padding-left: 5vw;
  text-decoration: none;
  color: var(--verde-oscuro);
  opacity: 80%;
}

  .imagen1,
  .imagen2{
      width: 90%;

  }
  .nombre-guarderia{
      font: size 24px;;
      color:#3f4e4a;
      font-weight: bold;
      text-align: center;
  }

  .cuerpo-detalle{
      font-size: 15px;
      text-align: center;
    
  }

  .articulo1,
  .articulo2{
      width:100%;
    padding:10px;
    border:#9fb7bc,5px;
    margin:auto
  }

  div.cuerpo-detalle{
padding: 10px;
width: fit-content;
text-align: justify;
  }

/* seguir con los articulos */



.huellita-reserva{
    color:#3f7552;
    size: 20px;
    
}

  .sobre-nosotros {
    display: block;
    padding: 20px;
  }
  
  .sobre-nosotros h3 {
    display: block;
    text-align: center;
    margin: 10px;
    color: var(--verde-oscuro);
    font-size: 18px;
  }
  
  .sobre-nosotros p {
    display: block;
    text-align: center;
    margin: 10px;
    color: var(--verde-oscuro);
    font-size: 12px;
  }
  
  footer {
    padding: 10px;
    background-color: var(--celeste-claro);
    text-align: center;
  }
  
  .footer-nav{
    display: flex;
  }
  
  .footer-nav1,
  .footer-nav2 {
    flex: 50%;
  }
  
  .footer-nav1{
    line-height: 30px;
  }
  
  .footer-nav2 {
    line-height:22px;
  }
  
  .footer-nav1 a,
  .footer-nav2 a{
    text-decoration: none;
    color: var(--verde-oscuro)
  }
  
  .redes{
      margin: 20px;
  }
  
  .redes h4{
    margin-bottom: 10px;
  }
  
  .fab {
    font-size: 28px;
    color: black;
    opacity: 80%;
    margin: 5px;
  }
  