:root {
      --verde-oscuro: #3f4e4a;
      --verde-claro: #3f7552;
      --celeste-oscuro: #9fb7bc;
      --celeste-claro: #c7dae0;
      --gris: rgba(128, 128, 128, 0.151);
      --gris-oscuro: rgba(128, 128, 128, 0.247);
    }

main {
      padding: 15px;
}

article img{
      opacity: 0.75;
      border: 1px solid var(--verde-oscuro);
      width: 25vw;
      max-width: 100%;
      height: auto;

}

.detalle-producto{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 25vw;
}

.resumen-cart-productos article{
      display: flex;
      position: relative;
      justify-content: space-between;
      margin: 10px 0;
}

.fechas-producto{
      font-size: 12px;
}

.cantidad{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
}

.cantidad i {
      font-size: 12px;
      background-color: var(--celeste-claro);
      border: solid 1px var(--celeste-claro);
      border-radius: 50%;
      color: white;

}

.precio {
      padding-top: 5px;
}

.resumen-cart-total div{
      display: flex;
      justify-content: space-between;
}

.remover {
      position: absolute;
      right: 5px;
      bottom: 5px;
}

.producto1,
.producto2,
.producto3 {
      padding-bottom: 10px;
      border-bottom: 1px solid grey;
}

.codigo-descuento {
      position: relative;
}

.cod-descuento {
      position: relative;
      display: flex;
      padding: 20px 0;
      justify-content: space-between;
      align-items: center;
}

.cod-descuento h4 {
      max-width: 40%;
}

.codigo-descuento input {
      height: 16px;
}

.codigo-descuento button {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 1%;
      background-color: var(--celeste-claro);
      color: var(--verde-oscuro);
      border: 0;
      border-radius: 5px;
}

.resumen-cart-total{
      margin: 10px 0px;
}

/* PSEUDOCLASES */

.resumen-cart-productos article:hover {
      box-shadow: 0 0 2px 1px var(--celeste-oscuro);
}

.resumen-cart-productos article img:hover {
      opacity: 1;
}