
* {
    font-family: "Raleway", sans-serif;
  }

  :root {
    --verde-oscuro: #3f4e4a;
    --verde-claro: #3f7552;
    --celeste-oscuro: #9fb7bc;
    --celeste-claro: #c7dae0;
    --gris: rgba(128, 128, 128, 0.151)
  }

.boton-volver-home {
    padding: 20px;
}

.boton-volver-home a{
    text-decoration: none;
    color: grey;
}

.titulo-iniciar-sesion {
    padding: 20px;
    text-align: center;
    font-size: 23px;
    color: rgb(117, 115, 115);
}

.contenedor-iniciar-sesion {
    margin: 30px;
    text-align: center;
    background-color: var(--gris);
    border-radius: 10px;

}

form div {
    padding: 15px;
}

.contanedor-guardar-clave{
    padding: 1px;
    margin: 2px;
}

form label{
    display: block;
    margin-bottom: 10px;
    color: rgb(85, 83, 83);
}

.label-email{
    margin-top: 30px;
}

.input-datos {
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 20px;
}


.input-guardar-clave {
    font-size: 10px;
    text-align: center;


}


form button {
    font-size: 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 22px;
}


.boton-crear-cuenta {
    display: block;
    margin: auto;
    padding-top: 1px;
    text-decoration: none;
    font-size: 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 20px;

}

.contenedor-olvidaste-contraseña{
    padding-bottom: 50px;
    padding-top: 3px;

}

.Olvidaste-contraseña{
    text-decoration: none;
    color: var(--celeste-oscuro);
    font-size: 12px;

}