* {
  font-family: "Raleway", sans-serif;
}

:root {
  --verde-oscuro: #3f4e4a;
  --verde-claro: #3f7552;
  --celeste-oscuro: #9fb7bc;
  --celeste-claro: #bccfd6;
}

header {
  background-color: var(--celeste-claro);
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 20%;
}

/* Topheader */

.topheader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 80%;
  text-align: center;

}

.logo-menu {
  display: block;
  opacity: 80%;
  width: 15%;
  text-align: left;
  padding-left: 5%;

}

.logo-menu i {
  color: var(--celeste-claro);
  font-size: 32px;
}

.vacio {
  display: block;
  width: 15%;
}

.logo {
  display: block;
  width: 40%;
}

.logo-alojamascotas {
  display: block;
  min-width: 40vw;
  max-height: 13vh;

}

.icon-search {
  display: block;
  width: 15%;
  padding: 10px;
}

.icon-search i {
  font-size: 26px;
  color: var(--verde-oscuro);
  opacity: 80%;
}

.icon-cart {
  display: block;
  width: 15%;
  padding-right: 3%;
 
}

.icon-cart i {
  font-size: 26px;
  color: var(--verde-oscuro);
  opacity: 80%;
}

/* SubHeader */

.subheader {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  padding: 5px 5%;
  width: 100vw;
  height: 20%;
  text-align: center;
  
}

.subheader .crear-cuenta {
  width: 45%;
  text-decoration: none;
  color: var(--verde-oscuro);
  opacity: 80%;
}

.line {
  width: 0;
  opacity: 50%;
  border-inline: 0.5px solid black;
}

.subheader .iniciar-sesion {
  width: 45%;
  text-decoration: none;
  color: var(--verde-oscuro);
  opacity: 80%;
}

/* Sidebar Nav */

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background-color: #bccfd6;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li a{
  font-size: 12px;
  color: var(--verde-oscuro);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
} 

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 999999;
  height: 100%;
  width: 100%;
  top: 45px;
  left: 25px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--verde-oscuro);
  opacity: 80%;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* Main */

main {
  margin-top: 134px;
}

.main-slider {
  position: relative;
  max-width: 70vw;
  margin: auto;
}

.main-slider img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}


.main-productos h3 {
  display: block;
  text-align: center;
  color: var(--verde-oscuro);
  font-size: 18px;
  opacity: 80%;
  padding: 20px 10px;
}

.guarderia-1 {
  text-align: center;
  font-size: 48px;
  color: var(--verde-oscuro);
  margin: 10px;
}

.main-productos h4 {
  display: block;
  text-align: center;
  color: var(--verde-oscuro);
  margin: 10px;
}

.main-productos p {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--verde-oscuro);
  margin: 10px 40px;
}

.boton-reservar {
  display: block;
  text-align: center;

}

.main-productos a {
  display: inline-block;
  margin: 10px auto 10px auto;
  text-align: center;
  text-decoration: none;
  color: var(--verde-oscuro);
  padding: 5px;
  border: 1px var(--verde-oscuro) solid;
  border-radius: 5px;
}

.sobre-nosotros {
  display: block;
  padding: 20px;
}

.sobre-nosotros h3 {
  display: block;
  text-align: center;
  margin: 10px;
  color: var(--verde-oscuro);
  font-size: 18px;
}

.sobre-nosotros p {
  display: block;
  text-align: center;
  margin: 10px;
  color: var(--verde-oscuro);
  font-size: 12px;
}

footer {
  padding: 10px;
  background-color: var(--celeste-claro);
  text-align: center;
}

.footer-nav{
  display: flex;
}

.footer-nav1,
.footer-nav2 {
  flex: 50%;
}

.footer-nav1{
  line-height: 30px;
}

.footer-nav2 {
  line-height:22px;
}

.footer-nav1 a,
.footer-nav2 a{
  text-decoration: none;
  color: var(--verde-oscuro)
}

.redes{
    margin: 20px;
}

.redes h4{
  margin-bottom: 10px;
}

.fab {
  font-size: 28px;
  color: black;
  opacity: 80%;
  margin: 5px;
}

