:root {
      --verde-oscuro: #3f4e4a;
      --verde-claro: #3f7552;
      --celeste-oscuro: #9fb7bc;
      --celeste-claro: #bccfd6;
    }

main {
      padding: 15px;
}

article img{
      opacity: 0.75;
      border: 1px solid var(--verde-oscuro);
      width: 25vw;
      max-width: 100%;
      height: auto;

}

.detalle-producto{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 25vw;
}

.resumen-cart-productos article{
      display: flex;
      position: relative;
      justify-content: space-between;
      margin: 10px 0;
}

.fechas-producto{
      font-size: 12px;
}

.resumen-cart-total div{
      display: flex;
      justify-content: space-between;
}

.remover {
      position: absolute;
      right: 5px;
      bottom: 5px;
}

.codigo-descuento {
      position: relative;
}

.cod-descuento {
      display: flex;
      padding: 20px 0;
      justify-content: space-between;
      align-items: center;
}

.cod-descuento h4 {
      max-width: 40%;
}

.codigo-descuento input {
      height: 1rem;
}

.codigo-descuento button {
      position: absolute;
      bottom: 5px;
      right: 5px;
}

/* PSEUDOCLASES */

.resumen-cart-productos article:hover {
      box-shadow: 0 0 2px 1px var(--celeste-oscuro);
}

.resumen-cart-productos article img:hover {
      opacity: 1;
}