:root {
      --verde-oscuro: #3f4e4a;
      --verde-claro: #3f7552;
      --celeste-oscuro: #9fb7bc;
      --celeste-claro: #c7dae0;
      --gris: rgba(128, 128, 128, 0.151);
      --gris-oscuro: rgba(128, 128, 128, 0.247);
    }

.profile-title {
  font-size: 18px;
  text-align: center;
}

.infouser {
  color:#3f7552;
  font-weight:bold;
  
}

.datos{
  color: #3f4e4a;

}

.logout a {
 text-align: center;
 background-color: #c7dae0;
 padding: 5px 15px;
 border-radius: 5px;
 display: block;
 margin: 10px auto 10px auto;
color:#3f4e4a;
font-weight: bold;
}

.profile-body {
    text-align: center;
}

.profile-text {
    padding: 20px;
    text-align: justify;
    background-color: var(--gris);
    border-radius: 10px;
    margin-bottom: 10px;

}

