<!DOCTYPE html>
<html lang="en">

<!-- head  -->

<%- include('partials/headLinks') %>
    <link rel="stylesheet" href="/css/style-crear-producto.css">

    <body>
        <!-- headers -->
        <!-- headerMain y headerSidebar -->
        <%- include('partials/header') %>


            <main>

                <div class="boton-volver-home">
                    <a href="/"><i class="far fa-arrow-alt-circle-left"></i> VOLVER</a>
                </div>
                <h3 class="titulo-registro">CREAR PRODUCTO</h3>
              
                <div class="contenedor-registro">

                    <ul class="errores"></ul>
                    <form class="form-producto" action="/productos/crear-producto" method="POST" enctype="multipart/form-data" >


                        <div>
                            <label>Nombre de la Guarderia:</label>
                            <input type="text" name="nombre"  id="nombreGuarderia">
                        </div>

                        <div>
                            <label>Precio:</label>
                            <input type="number" name="precio" required>
                        </div>

                        <div>
                            <label>Características:</label>
                            <input type="text" name="caracteristicas" id="descripcion">
                        </div>

                        <div>
                            <label>Instalaciones:</label>
                            <input type="text" name="instalaciones" required>
                        </div>

                        <div>
                            <label>Categorías</label>
                            <select name="categoria">
                                <option value="1">Categoria 1-Perros</option>
                                <option value="2" selected>Categoria 2-Gatos</option>
                                <option value="3">Categoria 3-Perros y Gatos</option>
                            </select>
                        </div>
                        <div>
                            <label>Foto:</label>
                            <input type="file" name="imagen">
                        </div>

                        <div class="div-button">
                            <button type="submit">Crear</button>

                        </div>

                        <div class="div-button">
                            <button type="reset">Cancelar</button>
                        </div>

                    </form>


                </div>

            </main>

            <!-- Footer -->
            <%- include('partials/footer') %>

            <script src="/js/crearProducto.js"></script>
    </body>

</html>