<!DOCTYPE html>
<html lang="en">

<!-- head  -->

<%- include('partials/headLinks') %>

    <body>
        <!-- headers -->
        <!-- headerMain y headerSidebar -->
        <%- include('partials/header') %>


                <main>

                    <div class="boton-volver-home">
                        <a href="/"><i class="far fa-arrow-alt-circle-left"></i> VOLVER</a>
                    </div>
                    <h3 class="titulo-registro">CREA TU CUENTA</h3>

                    <div class="contenedor-registro">


                        <form action="/productos/editar-producto" method="POST">


                            <div>
                                <label>Nombre de la Guarderia:</label>
                                <input type="text" name="Nombre de la guarderia" required>
                            </div>

                            <div>
                                <label>Características:</label>
                                <input type="text" name="Características" required>
                            </div>

                            <div>
                                <label>Instalaciones:</label>
                                <input type="text" name="Instalaciones" required>
                            </div>


                            <div>
                                <label>Foto:</label>
                                <input type="file" name="Foto" required>
                            </div>


                            <div class="div-button">
                                <button type="submit">Editar</button>

                            </div>

                            <div class="div-button">
                                <button type="reset">Cancelar</button>
                            </div>


                    </div>

                </main>

                <!-- Footer -->
                <%- include('partials/footer') %>


    </body>

</html>