<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style-error.css">
</head>

<body>
    <main class="main-error">
        <div class="titulo-error">
            <p>ERROR 404
            <p>
        </div>
        <div class="main-container">
            <div class="imagenError"><a href="#"><img src="/img/notfound.jpg"></a></div>
        </div>

        <div class="leyenda-error">
            <p> Oh no! parece que algo se ha roto</p>
            <a class=action href="/">
                <div>Volver a la página de inicio</div>
            </a>
        </div>
    </main>

</body>

</html>