<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style-error.css">
</head>

<body>
    <main>
        <div class="doggy-container">
            <h2 class="header-error">Error 404</h2>
            <div class="mensaje-error">
                Algo ha salido mal 
            </div>  
            <div class="volver-al-inicio">
                <div class="boton-volver-home">
                    <a href="/"><i class="far fa-arrow-alt-circle-left"></i> VOLVER AL INICIO</a>
                </div>
            </div>
	
            <div class="bg-colour"></div>
        
            <div class="doggy doggy-sitting">
                <div class="dog-head-container look-left">
                    <div class="dog-left-ear"></div>
        
                    <div class="dog-head-2">
                    </div>
                    <div class="dog-head">
                        <div class="dog-nose"></div>
                    </div>
                    <div class="dog-head-spot">
                        <div class="dog-eye"></div>
                    </div>
                    <div class="dog-right-ear"></div>
                </div>
                <div class="dog-head-container look-right">
                    <div class="dog-left-ear"></div>
        
                    <div class="dog-head-2">
                    </div>
                    <div class="dog-head">
                        <div class="dog-nose"></div>
                    </div>
                    <div class="dog-head-spot">
                        <div class="dog-eye"></div>
                    </div>
                    <div class="dog-right-ear"></div>
                </div>
                <div class="collar">
                    <div class="collar-shade"></div>
                </div>
        
                <div class="dog-torso">
        
                    <div class="dog-torso-shade">
                        <div class="light-right-dog-foot">
                            <div class="swipes swipe-chest swipe-chest-light-right">
                            <div class="swipe-1-light-right grey-swipe"></div>
                            <div class="swipe-2-light-right grey-swipe"></div>
                            </div>
                        </div>
                        <div class="light-right-dog-paw"></div>
        
                    </div>
        
                    <div class="left-dog-foot"></div>
                    <div class="dog-torso-light">
                        <div class="swipes swipe-chest swipe-chest-light">
                            <div class="swipe-1-light grey-swipe"></div>
                            <div class="swipe-2-light grey-swipe"></div>
                        </div>
                    </div>
        
                    <div class="dog-torso-chest">
                        <div class="swipes swipe-chest">
                            <div class="swipe-1 grey-swipe"></div>
                            <div class="swipe-2 grey-swipe"></div>
                        </div>
                    </div>
        
                    <div class="right-dog-foot"></div>
        
        
                </div>
        
            <div class="doggy-cushion"></div>
        
            </div>
        
        
        
            <!-- Standing -->
        
            <div class="doggy doggy-standing">
                <div class="dog-head-container look-left dog-head-standing-up">
                    <div class="dog-left-ear dog-left-ear-standing"></div>
        
                    <div class="dog-head-2">
                    </div>
                    <div class="dog-head">
                        <div class="dog-nose"></div>
                    </div>
                    <div class="dog-head-spot dog-head-spot-standing">
                        <div class="dog-eye"></div>
                    </div>
                    <div class="dog-right-ear dog-right-ear-standing"></div>
                </div>
        
                <div class="collar collar-standing-up">
                    <div class="collar-shade"></div>
                </div>
        
                <div class="dog-torso dog-torso-standing-up">
        
                    <div class="right-leg-standing"></div>
                    <div class="right-hind-standing"></div>
        
                    
                    <div class="left-leg-standing">
                        <div class="swipes swipe-chest swipe-chest-light-right swipe-chest-standing-2">
                            <div class="swipe-1-light-right grey-swipe"></div>
                            <div class="swipe-2-light-right grey-swipe"></div>
                        </div>
                    </div>
                    <div class="left-hind-standing"></div>
        
                    <div class="left-dog-foot left-dog-foot-standing"></div>
        
                    <div class="dog-torso-chest dog-chesting-standing-up ">
                        <div class="swipes swipe-chest">
                            <div class="swipe-1 grey-swipe"></div>
                            <div class="swipe-2 grey-swipe"></div>
                        </div>
                    </div>
        
                    <div class="dog-torso-light-standing">
                        <div class="swipes swipe-chest swipe-chest-light-right swipe-chest-standing-1">
                            <div class="swipe-1-light-right grey-swipe"></div>
                            <div class="swipe-2-light-right grey-swipe"></div>
                        </div>
                    </div>
                    <div class="right-dog-foot right-dog-foot-standing"></div>
                </div>
                <div class="doggy-cushion doggy-cushion-standing"></div>
            </div>
        
        
        
            <!-- Jumping -->
        
        
            <div class="doggy doggy-jumping">
                <div class="stars">
                    <div class="circle-star circle-star-1"></div>
                    <div class="circle-star circle-star-2"></div>
                    <div class="circle-star circle-star-3"></div>
                    <div class="circle-star circle-star-4"></div>
        
                    <div class="diamond-star diamond-star-1"></div>
                    <div class="diamond-star diamond-star-2"></div>
                    <div class="diamond-star diamond-star-3"></div>
        
                </div>
                <div class="dog-head-container look-left dog-head-standing-up">
                    <div class="dog-left-ear dog-left-ear-jumping"></div>
        
                    <div class="dog-head-2">
                    </div>
                    <div class="dog-head">
                        <div class="dog-nose"></div>
                    </div>
                    <div class="dog-head-spot dog-head-spot-standing">
                        <div class="dog-eye"></div>
                    </div>
                    <div class="dog-right-ear dog-right-ear-jumping"></div>
                </div>
        
                <div class="collar collar-standing-up">
                    <div class="collar-shade"></div>
                </div>
        
                <div class="dog-torso dog-torso-standing-up">
        
                    <div class="right-leg-standing">
                        <div class="swipes swipe-chest swipe-chest-light-right swipe-chest-jumping-1">
                            <div class="swipe-1-light-right grey-swipe"></div>
                            <div class="swipe-2-light-right grey-swipe"></div>
                        </div>
                    </div>
                    <div class="right-hind-standing right-hind-jumping"></div>
        
                    
                    <div class="left-leg-standing left-leg-jumping "></div>
                    <div class="left-hind-standing left-hind-jumping"></div>
        
                    <div class="left-dog-foot left-dog-foot-jumping"></div>
        
                    <div class="dog-torso-chest dog-chesting-standing-up ">
                        <div class="swipes swipe-chest">
                            <div class="swipe-1 grey-swipe"></div>
                            <div class="swipe-2 grey-swipe"></div>
                        </div>
                    </div>
        
                    <div class="dog-torso-light-standing">
                        <div class="swipes swipe-chest swipe-chest-light-right swipe-chest-jumping-2">
                            <div class="swipe-1-light-right grey-swipe"></div>
                            <div class="swipe-2-light-right grey-swipe"></div>
                        </div>
                    </div>
                    <div class="right-dog-foot right-dog-foot-jumping"></div>
                </div>
                <div class="doggy-cushion doggy-jumping-cushion"></div>
            </div>
        
        
        </div>
    </main>

    <script src="/js/error404.js"></script>
</body>

</html>