<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('partials/headLinks') %>

<body>
<!-- headers -->
    <!-- headerMain y headerSideBar -->
    <%- include('partials/header') %>


<!-- Main -->

    <main>
        <section class="main-slider">
            <div class="slides">
                <img src="/img/CATIS_2.jpg" alt="imagen main 1">
                <div class="contenedor-encontra-guarderia"><h3 class="encontra-guarderia">ENCONTRA SU LUGAR</h3></div>
            </div>
        </section>



        <section class="main-productos">
            <h3>NUESTRAS GUARDERIAS</h3>
            <div class="guarderia-1"><img class="img-guarderia1" src="/img/guarderia_canina_1.jpg" alt="guarderia1"></div>
            <i class="fas fas-arrow fa-angle-left"></i><h4>Guarderia 1</h4><i class="fas fas-arrow fa-angle-right"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, laboriosam molestias quos eum placeat
                quibusdam explicabo autem debitis repellendus expedita?</p>
            <div class="boton-reservar"><a href="/detalle-producto">RESERVAR</a></div>
        </section>

        <section class="sobre-nosotros">
            <h3>SOBRE NOSOTROS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quo eveniet nobis, dolor repudiandae vel id
                et repellendus quis commodi delectus voluptatum iste vero nisi maxime eligendi. Possimus, a dolore.</p>
        </section>

    </main>

<!-- Footer -->
     <%- include('partials/footer') %>

</body>

</html>