<!DOCTYPE html>
<html lang="en">

<!-- head  -->

<%- include('partials/headLinks') %>

<link rel="stylesheet" href="/css/style-registro.css">

    <body>
        <!-- headers -->
        <!-- headerMain y headerSidebar -->
        <%- include('partials/header') %>


                <main>

                    <div class="boton-volver-home">
                        <a href="/"><i class="far fa-arrow-alt-circle-left"></i> VOLVER</a>
                    </div>
                    <h3 class="titulo-registro">CREA TU CUENTA</h3>

                    <div class="contenedor-registro">


                        <form class="form-registro" action="/users/registro" method="POST" enctype="multipart/form-data">


                            <div>
                                <label>Nombre:</label>
                                <input type="text" name="first_name" required>
                            </div>

                            <div>
                                <label>Apellido:</label>
                                <input type="text" name="last_name" required>
                            </div>
                            <div>
                                <label>Fecha de nacimiento:</label>
                                <input type="date" name="date" required>
                            </div>
                            
                            <div>
                                <label>Domicilio:</label>
                                <input type="text" name="adress" placeholder=" Calle y numero" required>
                            </div>

                            <div>
                                <label>E-mail:</label>
                                <input type="email" name="email" required>
                            </div>

                            <div>
                                <label>Imagen de perfil</label>
                                <input type="file" name="imagenUsuario">
                            </div>

                            <div>
                                <label>DNI:</label>
                                <input type="number" name="dni" pattern="[0-9]{8}">
                            </div>

                            <div>
                                <label>Contraseña:</label>
                                <input name="password" type="password" value="" class="form-control"
                                    id="elige contraseña" placeholder=" Elige tu contraseña">
                            </div>

                            <div class="div-confirmar-clave">
                                <input name="password" type="password" value="" class="form-control"
                                    id="confirmar contraseña" placeholder=" Confirma tu contraseña">
                            
                            </div>


                            <div class="div-enviar">
                                <button type="submit">Enviar</button>

                            </div>


                        </form>


                    </div>

                </main>

                <!-- Footer -->
                <%- include('partials/footer') %>


    </body>

</html>