<!DOCTYPE html>
<html lang="en">

<!-- head  -->

<%- include('partials/headLinks') %>

    <link rel="stylesheet" href="/css/style-registro.css">

    <body>
        <!-- headers -->
        <!-- headerMain y headerSidebar -->
        <%- include('partials/header') %>


            <main>

                <div class="boton-volver-home">
                    <a href="/"><i class="far fa-arrow-alt-circle-left"></i> VOLVER</a>
                </div>
                <h3 class="titulo-registro">CREA TU CUENTA</h3>
                
                <div class="contenedor-registro">
                    
                    <ul class="errores"></ul>
                    <form class="form-registro" action="/users/registro" method="POST" enctype="multipart/form-data">

                        <div class="inputs-register">
                            <div>
                                <label>Nombre:</label>
                                <input type="text" name="first_name" id="first_name">
                                <!-- agrego id para identificacion front -->
                            </div>

                            <div>
                                <label>Apellido:</label>
                                <input type="text" name="last_name" id="last_name">
                            </div>
                            <div>
                                <label>Fecha de nacimiento:</label>
                                <input type="date" name="date" >
                            </div>

                            <div>
                                <label>Domicilio:</label>
                                <input type="text" name="adress" placeholder=" Calle y numero" >
                            </div>

                            <div>
                                <label>E-mail:</label>
                                <input type="email" name="email" id="email">
                            </div>

                            <div>
                                <label>Imagen de perfil</label>
                                <input type="file" name="imagenUsuario" id="imagenUsuario">
                            </div>

                            <div>
                                <label>DNI:</label>
                                <input type="number" name="dni" pattern="[0-9]{8}">
                            </div>

                            <div>
                                <label>Contraseña:</label>
                                <input name="password" type="password" value="" class="form-control"
                                    id="elige_contraseña" placeholder=" Elige tu contraseña">
                                    <!-- se coloca "_"  en elige contraseña por no tomar la identificación del id con espacios-->
                            </div>

                            <div class="div-confirmar-clave">
                                <label> Confirmar Contraseña:</label>
                                <input name="passwordConfirm" type="password" value="" class="form-control">
                            </div>
                        </div>


                        <div>
                            <label for="">Recordame</label>
                            <input type="checkbox" name="recordame">
                        </div>

                        <div class="div-enviar">
                            <button type="submit">Enviar</button>

                        </div>



                    </form>


                </div>

            </main>

            <!-- Footer -->
            <%- include('partials/footer') %>

    <script src="/js/registro.js"></script>
    </body>

</html>