<!-- Footer -->

<footer>
    <div class="footer-nav">
        <div class="footer-nav1">
            <a href="/inicia-sesion">Iniciar Sesion</a><br>
            <a href="/registro">Registrarse</a><br>
            <a href="#">Nosotros</a><br>
        </div>
        <div class="footer-nav2">
            <a href="#">Contacto</a><br>
            <a href="#">FAQ</a><br>
            <a href="#">Terminos y condiciones</a><br>
        </div>
    </div>
    <div class="redes">
        <h4>SEGUINOS EN NUESTRAS REDES</h4>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
    </div>
    <h6 class="copyright">Copyright © 2022 AlojaMascotas S.R.L.</h6>

</footer>