 <!-- Sidebar Nav -->

 <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
 <label for="openSidebarMenu" class="sidebarIconToggle">
   <div class="spinner diagonal part-1"></div>
   <div class="spinner horizontal"></div>
   <div class="spinner diagonal part-2"></div>
 </label>
 <div id="sidebarMenu">
   <ul class="sidebarMenuInner">
     <li><a href="/inicia-sesion">Mi Cuenta</a></li>
     <li><a href="/detalle-producto">Guarderias</a></li>
     <li><a href="/">Nosotros</a></li>
     <li><a href="#">Contacto</a></li>
     <li><a href="#">FAQ</a></li>
     <li><a href="#">Terminos y Condiciones</a></li>
     <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
     <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
     <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
   </ul>
 </div>

